@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);
  --opaque-button-border-intensity: -8;
  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);

  --background: 53 100% 98%;
  --foreground: 0 5% 15%;
  --border: 225 2% 82%;
  --card: 53 100% 98%;
  --card-foreground: 0 5% 15%;
  --card-border: 225 2% 88%;
  --popover: 53 100% 98%;
  --popover-foreground: 0 5% 15%;
  --popover-border: 225 2% 88%;
  --primary: 180 18% 19%;
  --primary-foreground: 53 100% 98%;
  --secondary: 225 2% 44%;
  --secondary-foreground: 53 100% 98%;
  --muted: 53 50% 95%;
  --muted-foreground: 225 2% 44%;
  --accent: 53 50% 92%;
  --accent-foreground: 0 5% 15%;
  --destructive: 0 72% 28%;
  --destructive-foreground: 53 100% 98%;
  --input: 225 2% 82%;
  --ring: 180 18% 19%;

  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: .5rem;

  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);
  --opaque-button-border-intensity: 9;
  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);

  --background: 0 5% 15%;
  --foreground: 53 100% 98%;
  --border: 225 2% 25%;
  --card: 0 5% 18%;
  --card-foreground: 53 100% 98%;
  --card-border: 225 2% 22%;
  --popover: 0 5% 18%;
  --popover-foreground: 53 100% 98%;
  --popover-border: 225 2% 22%;
  --primary: 180 18% 19%;
  --primary-foreground: 53 100% 98%;
  --secondary: 225 2% 44%;
  --secondary-foreground: 53 100% 98%;
  --muted: 0 5% 20%;
  --muted-foreground: 225 2% 70%;
  --accent: 180 18% 22%;
  --accent-foreground: 53 100% 98%;
  --destructive: 0 72% 28%;
  --destructive-foreground: 53 100% 98%;
  --input: 0 0% 28%;
  --ring: 180 17% 22%;

  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
